* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    background-color: black;
}

header {
    background: url(assets/images/bg-image.jpg);
    width: 99vw;
    height: 93vh;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.blk-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.top-shadow {
    position: absolute;
    background-color: black;
    height: 5vh;
    width: 100%;
    box-shadow: 0 0 20px 20px black;
    opacity: 0.4;
}

.bottom-shadow {
    position: absolute;
    background-color: black;
    height: 20%;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 50px 100px black;
    opacity: 0.4;
}

nav {
    display: flex;
    max-width: 63vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 1;
}

nav .logo img {
    width: 150px;
    height: 90px;
}

nav .button button {
    padding: 7px 17px;
    border-radius: 7px;
    border: 2px solid red;
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: 900;
}

.hero {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 27%;
}

.text-box div:first-child {
    max-width: 38vw;
    font-size: 65px;
    font-weight: 900;
    padding: 0 0 17px 0;
}

.text-box div:nth-child(2) {
    font-size: 21px;
    font-weight: bold;
    padding: 0 0 33px 0;
}

.text-box #membership {
    font-size: 17px;
    font-weight: 400;
    padding: 0 0 17px 0;
}

.hero .input {
    display: flex;
    gap: 7px;
    margin: 0 0 0 20px;
}

.hero .input input {
    font-size: 17px;
    font-weight: bold;
    padding: 15px 230px 15px 15px;
    text-align: start;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.445);
}

.hero .input button {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 5px 40px;
    border-radius: 5px;
    display: flex;
}

.curve-line {
    position: relative;
    background: radial-gradient(ellipse at top, #22284e 0%, #000 65%);
    height: 7vh;
}

.curve-line::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    height: 5px;
    top: -4px;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: red;
}


.container {
    height: 40vh;
    max-width: 63vw;
    width: 100%;
    margin: auto;
}

.title h1 {
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

.slider {
    display: flex;
    align-items: center;
    padding: 0 0 0 23px;
    gap: 22px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.slider .card {
    position: relative;
    padding: 10px;
    transition: 0.3s;
}

.slider .card:hover {
    transform: scale(1.05);
}

.card img {
    height: 32vh;
    border-radius: 10px;
}

.card .number {
    position: absolute;
    font-size: 120px;
    font-weight: 900;
    bottom: 10px;
    left: -20px;
    -webkit-text-stroke: 2px white;
}

.container2 {
    height: 50vh;
    max-width: 63vw;
    width: 100%;
    margin: auto;
    padding: 70px 0 0 0;
}

.cards {
    display: flex;
    gap: 15px;
}

.cards .card2 {
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(152deg, #192145 20%, #210e18 90%);
}

.cards .card2 h2 {
    color: white;
    margin-bottom: 20px;
    margin: 28px 40px 20px 18px;
}

.cards .card2 p {
    color: gray;
    font-weight: 500;
    margin: 0 0 0 18px;
}

.cards .card2 img {
    position: absolute;
    bottom: 15px;
    right: 10px;
    height: 5rem;
}

.container3 {
    height: 70vh;
    max-width: 63vw;
    width: 100%;
    margin: auto;
    padding: 70px 0 0 0;
}

.container3 .question-boxes .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    padding: 20px;
    margin: 0 0 10px 0;
    transition: 0.3s;
}

.container3 .question-boxes .box:hover {
    background-color: #414040;
}

.box h2 {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.box img {
    height: 40px;
}

.hero-2 {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px 0 0 0;
}

.text-box #membership {
    font-size: 17px;
    font-weight: 400;
    padding: 0 0 17px 0;
}

.hero-2 .input {
    display: flex;
    gap: 7px;
    margin: 0 0 0 20px;
    padding: 15px 0 0 0;
}

.hero-2 .input input {
    font-size: 17px;
    font-weight: bold;
    padding: 15px 330px 15px 15px;
    text-align: start;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.445);
}

.hero-2 .input button {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 5px 40px;
    border-radius: 5px;
    display: flex;
}

footer {
    height: 65vh;
    max-width: 63vw;
    width: 100%;
    margin: auto;
    padding: 70px 0 0 0;
}

footer p a {
    color: #b6b5b5;
    font-size: 16px;
    font-weight: bold;
}

footer .foot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.foot {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 0 0 0;
}

.foot a {
    color: #b6b5b5;
    font-size: 15px;
    font-weight: 400;
}

footer .lang {
    padding: 50px 0 0 0;
}

footer .lang button {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .lang button img {
    height: 18px;
}

footer .bd {
    padding: 40px 0 0 0;
}

footer .bd p {
    color: #b6b5b5;
}

footer .last {
    padding: 40px 0 0 0;
}

footer .last p {
    color: #7a7a7a;
    font-size: 13px;
    font-weight: 500;
}

footer .last p a {
    color: #1f73e5;
    font-size: 13px;
    font-weight: 400;
}